<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="gocd.http.notifier" version="1">
    <about>
        <name>HTTP Notification Plugin</name>
        <version>0.4</version>
        <target-go-version>16.1.0</target-go-version>
        <description>Plugin to send build notifications via HTTP to a single URL</description>
        <vendor>
            <name>Henrique Gemignani</name>
            <url>https://github.com/henriquegemignani/gocd-http-notifier</url>
        </vendor>
    </about>
</go-plugin>